# generic git ignore file for java :) #
/build/
/bin/
target/
 
.DS_Store
 
*.class
 

*.jar
*.war
*.ear
*.db


Thumbs.db 


Desktop.ini
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml


.externalToolBuilders/
 

*.launch

.cproject
